.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search_input > input {
    flex: 1;
    background-color: #ca2325;
    padding: 10px 20px;
    border: none;
    font-size: medium;
}

.search_input > input:focus {
    outline: 0;
    color: #fff;
    /* border: 2px solid #ca2325; */
}

.search_inputIcon {
    color: #fff;
}

.search_micIcon {
    color: gray;
}

.search_MicIcon {
    visibility: hidden;
}

.search_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #ca2325;
    border: 1px solid #fff;
    text-transform: inherit;
    color: #fff;
}

.search_buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #c6c6c6;
    color: #ca2325;
    background-color: #f8f8f8;
}

.search_buttonsHidden {
    display: none !important;
}

@media only screen and (max-width: 554px) {
    body {
      background-color: #ca2325;
      color: #fff;
    }

    .search_input > input {
        background-color: #ca2325;
        color: #fff;
        padding-left: 7px;
    }
    .search_input {
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        height: 30px;
        padding: 10px 20px;
        border-radius: 999px;
        width: 75vw;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 90%;
    }
    .search_buttons button {
        border: 1px solid lightgray;
        background-color: #ca2325;
        color: #fff;
    }
    .search_MicIcon {
        padding: 10px;
        visibility: hidden;
    }
  }